name: ci

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: install yarn
        run: npm i -g yarn

      - name: build
        run: |
          yarn install --frozen-lockfile
          yarn build
          echo "shilangyu.dev" > build/CNAME
        env:
          CI: true

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        if: github.event_name == 'push'
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BASE_BRANCH: develop
          BRANCH: master
          FOLDER: build
